extends main

block content
    h1=message
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo sunt similique vero voluptatem officiis explicabo sed eos? Similique quo sapiente recusandae natus eaque odit voluptas perspiciatis voluptate alias quas.